<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Sentiment Analysis for Movie Reviews</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
  <body>
    <style>
body {
    text-align: center;
}
form {
    display: inline-block;
}
</style>
    <header>
      <div class="container">
        <h1 class="logo">Movie Reviews Flask App</h1>
      </div>
    </header>
        <form action="/result" class="form-group" method="post">
            <div class="row">
                <p>Enter movie review:</p>
                <p><input class="form-control" type="text" name="review" /></p>
            </div>
            <p><input class="btn btn-primary" type="submit" value="submit" /></p>
    </div>
    </form>
{% block content %}
{% endblock %}
<h3 style="text-align:center"><a href="{{ url_for('list_all') }}">Review Database</a></h3>
</body>
</html>
